<h3>Log In</h3>
<form action="/admin" method="POST">
  <label for="username"><b>Username</b></label>
  <input
    type="text"
    placeholder="Enter your username"
    name="username"
    id="usernameInputL"
  />
  <label for="password"><b>Password</b></label>
  <input
    type="password"
    placeholder="Enter your password"
    name="password"
    id="pwdInputL"
  />
  <input type="submit" value="Login" class="btn" />
  <button class="btn" id="registerBtn">Register</button>
</form>

<!-- Register -->

<h3 id="registerTitle">Register</h3>
<form action="/register" method="POST" id="registerForm">
  <label for="username"><b>Username</b></label>
  <input
    type="text"
    placeholder="Enter your username"
    name="username"
    id="usernameInputR"
  />
  <label for="password"><b>Password</b></label>
  <input
    type="password"
    placeholder="Enter your password"
    name="password"
    id="pwdInputR"
  />
  <input type="submit" value="Register" class="btn" />
</form>
