<header class="header">
  <a href="/" class="header-logo">Admin Panel</a>
  <!-- /home -->
  <nav class="header-nav">
    <ul>
      <li><a href="/">Home</a></li>
      <!-- /home -->
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
  <div class="header-button">
    <a id="logoutLink" href="/logout">
      LogOut
      <i class="ri-logout-circle-line"></i>
    </a>
  </div>
</header>
