<header class="header">
  <a href="/home" class="header-logo">Admin Panel</a>
  <nav class="header-nav">
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
  <div class="header-button">
    <a href="/logout">
      LogOut
      <i class="ri-logout-circle-line"></i>
    </a>
  </div>
</header>
