<h1>Contact</h1>

<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita assumenda
  tenetur quos, consequuntur id sequi libero sapiente odio quas ratione eum
  temporibus, labore aperiam omnis corrupti a minus accusamus autem molestiae
  provident, mollitia aut amet. Maiores, ab id autem earum error doloribus nisi
  odio corporis modi repudiandae asperiores nihil quam optio.
</p>

<p>
  If you have any questions, feel free to reach out to us through the following
  channels:
</p>
<ul>
  <li><strong>Email:</strong> soufianeelfaquir2001@gmail.com</li>
  <li><strong>Address:</strong> 2127 Sale, Morocco</li>
  <li>
    <strong>Github:</strong>
    <a id="ghLink" href="https://github.com/Enaifuos17" target="_blank"
      >myGithub</a
    >
  </li>
  <li>
    <strong>LinkedIn:</strong>
    <a
      id="liLink"
      href="https://www.linkedin.com/in/soufiane-el-faquir/"
      target="_blank"
      >myLinkedIn</a
    >
  </li>
</ul>
