<div class="author">
  <h1 class="author-heading">Hi, I am Soufiane.</h1>
  <p class="author-body">Web developer and content creator.</p>
</div>

<img src="/img/window-img.jpg" alt="" class="hero-img" height="380" />

<section class="articles">
  <h2 class="article-heading">Latest Posts</h2>
  <ul class="article-ul">
    <li>
      <a href="#">
        <span>Post Title</span>
        <span class="article-list-date">Date</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span>Post Title</span>
        <span class="article-list-date">Date</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span>Post Title</span>
        <span class="article-list-date">Date</span>
      </a>
    </li>
  </ul>

  <a href="#" class="pagination">&lt; View Older Posts</a>
</section>
